<h1>Créditos</h1>
<img class="photo" src="images/bob.jpeg" alt="bob image" />
<br>
<span class="description">
        El autor de esta página es Arkano. 
        <br>Arkano improvisa y rapea,
        <br>es una rima inteligente,
				<br>y a ratos programo nodejs,
				<br>que es lo que le gusta mi gente.
			<br><a href="https://www.youtube.com/watch?v=vqvYCyCGaB8">vídeo</a></a>
    </span>