<!DOCTYPE html>
<html>
<link rel="icon" href="favicon.ico" type="image/x-icon" />

<head>
	<title>
		<%=title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<h1>Autor de la página: </h1>
	<p>Fotografía</p>
	<p>Vídeo</p>

	<p id="footer"><a href="https://github.com/jlalcazar/node/tree/master/miriadax/obligatorio6">enlace github</a>
	</p>

</body>

</html>