<!DOCTYPE html>
<html>

<head>
	<title>
		<%=t itle %>
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<h1><%= title %></h1>
	<p>Welcome to
		<%=t itle %>
	</p>


	<div id="footer"><a href="https://github.com/jlalcazar/node/tree/master/miriadax/obligatorio6">enlace github</a>
	</div>

</body>

</html>